footer.pageFooter
    nav.pageFooter-nav(role="navigation")
        .pageFooter-nav-group.group-1
            .columnWrap
                h5 Resources
                ul.pageFooter-nav-links.resourcesFooter
                    li
                        a(href="https://www.tccd.edu/") TCC Home
                    li
                        a(href="https://my.tccd.edu/?l=b" target="_blank") myTCC
                    li
                        a(href="https://wa.tccd.edu" target="_blank") WebAdvisor
                    li
                        a(href="http://library.tccd.edu" target="_blank") Libraries
                    li
                        a(href="http://calendar.tccd.edu/" target="_blank") Calendar
                    li
                        a(href="http://alumni.tccd.edu" target="_blank") Alumni
            .columnWrap
                h5 Contact Us
                ul.pageFooter-nav-links.contactFooter
                    li
                        a(href="/services/support-services/information-center/") askTCC
                    li
                        a(href="https://waj.tccd.edu/TCC/FacStaffDir3/FacStaff.jsp?wMenu=M" target="_blank") Directory
                    li
                        a(href="http://blogs.tccd.edu/" target="_blank") Blogs
                    li
                        a(title="TCC Foundation" href="http://foundation.tccd.edu/s/1262/foundation/index.aspx?sid=1262&amp;gid=1&amp;pgid=541" target="_blank") Donate
                    //-Temporarily removed for launch
                    //- li
                        //- a(title="Social Hub" href="/social/") Social Media
        .pageFooter-nav-group.group-2
            .columnWrap
                h5 Employment
                ul.pageFooter-nav-links.workingFooter
                    li
                        a(href="/community/employment/") Job Opportunities
                    li
                        a(title="Office of Institutional Diversity and Inclusion" href="/about/mission-and-vision/diversity-and-inclusion/") Diversity
                    li
                        a(href="/about/accessibility/") Accessibility
                    li
                        a(title="Human Resources Contacts" href="/community/employment/hr-contacts/") Human Resources
            .columnWrap
                h5 Safety
                ul.pageFooter-nav-links.safetyFooter
                    li
                        a(title="TCC Police Department" href="/services/police-department/") Police
                    li
                        a(href="/about/emergency-information/department-of-safety-and-emergency-management/") Safety &amp; Emergency Management
                    li
                        a(title="Emergency Information" href="/about/emergency-information/") Emergency Info
    
    .pageFooter-logoArea
        a(href="https://www.tccd.edu/")
            img.pageFooter-logo(src="https://www.tccd.edu/_resources/images/logos/tcc-logo-vert-slogan-white.svg" alt="Tarrant County College — Success Within Reach")
        ul.pageFooter-socialIcons
            li.socialIcon
                a(href="http://www.facebook.com/TarrantCountyCollege")
                    img(src="https://www.tccd.edu/_resources/images/icons/facebook.svg" alt="Follow TCC on Facebook")
            li.socialIcon
                a(href="http://www.twitter.com/TCCollege")
                    img(src="https://www.tccd.edu/_resources/images/icons/twitter.svg" alt="Follow TCC on Twitter")
            li.socialIcon
                a(href="http://instagram.com/tarrantcountycollege")
                    img(src="https://www.tccd.edu/_resources/images/icons/instagram.svg" alt="Follow TCC on Instagram")
    .pageFooter-legalInfo(role="contentinfo")
        p.pageFooter-legalInfo-links #[a(href="/about/legal/") Legal Notices] · #[a(href="/about/fraud/") Report Fraud]&nbsp;· #[a(href="http://www.thecb.state.tx.us/apps/resumes/" target="_blank") Online Resumes] · #[a(title="Report a problem with the content of this website, or an errors encountered on a page" href="http://www.cvent.com/d/g4q79t/3B" target="_blank") Report a Problem]
        p.pageFooter-legalInfo-copyright #[span#edit-link ©] All Rights Reserved — Tarrant County College
