//- Facebook Card Info

meta(property="og:title" content="What's Stopping You?")
meta(property="og:site_name" content="Tarrant County College")
meta(property="og:url" content="https://www.tccd.edu/outreach/success/")
meta(property="og:description" content="Do you want a better job? A new career? A fresh start? To reconnect with a forgotten interest? You’ve taken the important first step in finding your Success Within Reach: You’re here! All you have to do is apply.")
meta(property="article:author" content="https://www.facebook.com/TarrantCountyCollege")
meta(property="og:image" content="https://www.tccd.edu//outreach/successimg/social-poster-3.jpg")
meta(property="og:image:width" content="1200")
meta(property="og:image:height" content="630")

//- Twitter Card Info
meta(name="twitter:card" content="photo")
meta(name="twitter:site" content="@TCCollege")
meta(name="twitter:title" content="What's Stopping You?")
meta(name="twitter:image" content="https://www.tccd.edu//outreach/successimg/social-poster.jpg")
meta(name="twitter:image:width" content="1200")
meta(name="twitter:image:height" content="630")
