//- Facebook Card Info

meta(property="og:title" content="Why Choose TCC")
meta(property="og:site_name" content="Tarrant County College")
meta(property="og:url" content="https://www.tccd.edu/wishlist/")
meta(property="og:description" content="Why Choose TCC")
meta(property="article:author" content="https://www.facebook.com/TarrantCountyCollege")
meta(property="og:image" content="https://www.tccd.edu/wishlist/img/social-poster.jpg")
meta(property="og:image:width" content="1200")
meta(property="og:image:height" content="630")

//- Twitter Card Info
meta(name="twitter:card" content="photo")
meta(name="twitter:site" content="@TCCollege")
meta(name="twitter:title" content="Why Choose TCC")
meta(name="twitter:image" content="https://www.tccd.edu/wishlist/img/social-poster.jpg")
meta(name="twitter:image:width" content="1200")
meta(name="twitter:image:height" content="630")
