//Mixins and utility classes

//Sets the font to the standard font
@mixin gotham($size: '', $weight: '', $style: '', $family: '') {
    @if ($family != '') {
        font-family: $family;
    }

    @if ($size != '') {
        font-size: $size;
    }

    @if ($weight != '') {
        font-weight: $weight;
    }

    @if ($style != '') {
        font-style: $style;
    }
}

//Hide only visually, but have it available for screen readers:
//http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
.visuallyhidden {
    // Ignore liner rule for border to maintain code from h5bp
    // scss-lint:disable BorderZero
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

//Extends the .visuallyhidden class to allow the element
//to be focusable when navigated to via the keyboard:
//https://www.drupal.org/node/897638

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

// Clearfix mixin
// Uses Nicolas Gallagher Micro-clearfix syntax, IE9+
@mixin clearfix() {
    &::after {
        clear: both;
        content: '';
        display: table;
    }
}

// Media Queries
@mixin bp($breakpoint: medium, $custom: '') {
    @if ($custom != '') {
        @media #{$custom} { @content; }
    }
    @else if ($breakpoint == medium) {
        @media #{$bp-medium} { @content; }
    }
    @else if ($breakpoint == large) {
        @media #{$bp-large} { @content; }
    }
    @else if ($breakpoint == x-large) {
        @media #{$bp-x-large} { @content; }
    }
}
