$gotham: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', 'Franklin Gothic', sans-serif;
$black: #000;
$white: #fff;
$blue: #003b76;
$gray: #e6e7e8;
$green: #8dc63f;
$red: #cc003f;
$border-radius: 4px;
$max-width: 960px;
$gradient-start: #003c99;
$gradient-stop: #00295d;
$gradient-bottom: #0c2753;
$gradient-top: #1d3e73;
