doctype html
html.basic-page
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")
        meta(name="description" content="Do you want a better job? A new career? A fresh start? To reconnect with a forgotten interest? You’ve taken the important first step in finding your Success Within Reach: You’re here! All you have to do is apply.")
        meta(name="author" content="Tarrant County College")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title What's Stopping You?

        include ./jade-partials/_social-meta.jade
        
        block css
            link(href="//cloud.typography.com/6195332/735526/css/fonts.css" type="text/css" rel="stylesheet")
            link(href="css/main.css" type="text/css" rel="stylesheet")

        block headJS
            script(src="vendor/picturefill.min.js")

        block head

    body
        block content

        include ./jade-partials/_analytics.jade
        block foot
            script(src="vendor/jquery.min.js")
            script(src="vendor/velocity.min.js")
            script(src="vendor/velocity.ui.min.js")
            script(src="js/ipad.js")
