extends _layout

block head
    script.
        (function(w,d){
            var h = d.getElementsByTagName('html')[0];
            h.className = h.className.replace(/no-js/, '');
        })(window, document);

block content
    .pageWrap
        header.header(role="header")
            .innerWrap(role="banner")
                h1#pageHeading.visuallyhidden Check Your List — Are You On It?
                img.header-banner(role="presentation" alt="" src="img/header.svg" aria-labelledby="pageHeading")

        main.main(role="main")
            .lede.innerWrap
                h2 Congratulations!
                p Do you want a better job? A new career? A fresh start? To reconnect with a forgotten interest?
                p You’ve taken the important first step in finding your Success Within Reach: You’re here! All you have to do is #[a(href="http://www.tccd.edu/Admissions/Apply/index.html") apply].
                p So, what's stopping you?
                
            .checklist.innerWrap
                // Cost barrier
                .checklist-itemWrap
                    .checklist-headingWrap
                        h3.checklist-heading Cost
                        .checklist-heading-iconWrap
                    .checklist-reasons
                        p At TCC, you can get a quality education at an affordable cost.
                        p Our tuition is just $59 per semester hour—that’s only $885 for a 15-hour semester of #[a(href="http://www.tccd.edu/Courses_and_Programs/Program_Offerings/index.html") degree-track courses] taught by many of the same instructors who teach at area universities.
                        p If you need to jump into the workforce quickly, our wide variety of  #[a(href="http://www.tccd.edu/cie/workforce-training/index.html") Community &amp;&nbsp;Industry Education career and professional development programs] will provide a fast return on your education investment.
                        p   We also have financial assistance options. Learn more: #[a(href="http://www.tccd.edu/Student_Services/Financial_Aid/index.html") Financial Aid].
                
                // Time barrier
                .checklist-itemWrap
                    .checklist-headingWrap
                        h3.checklist-heading Time
                        .checklist-heading-iconWrap
                    .checklist-reasons
                        p Your life is busy, and your schedule is full, but at TCC, class is always in session!
                        p We offer online and on-campus classes during the day, at night and on the weekends. You can even complete your associate degree in 18 months or less by taking classes only on weekends if you are a full-time student in our #[a(href="http://www.tccd.edu/Courses_and_Programs/Weekend_College/index.html") Weekend College] on #[a(href="http://www.tccd.edu/Campuses_and_Centers/Trinity_River_Campus/index.html") Trinity River Campus]. You can also choose #[a(href="http://www.tccd.edu/eLearning/Online_Offerings/index.html") a fully online associate degree or certificate program].
                        p Learn more: #[a(href="http://www.tccd.edu/Campuses_and_Centers/TCC_Connect/index.html") TCC Connect Campus].
                
                // Location barrier
                .checklist-itemWrap
                    .checklist-headingWrap
                        h3.checklist-heading Location
                        .checklist-heading-iconWrap
                    .checklist-reasons
                        p Every year, we welcome students from nearly 140 North Texas zip codes.
                        p With #[a(href="http://www.tccd.edu/Campuses_and_Centers/index.html") 6 campuses and a variety of centers] throughout Fort Worth, Arlington, Hurst and online, TCC is easily accessible. Plus, you can get to many of our campuses via public transportation. If your family or work responsibilities would make attending class on campus difficult, you can choose from our wide range of #[a(href="http://www.tccd.edu/eLearning/Online_Offerings/index.html") online offerings].
                        p Learn more: #[a(href="http://www.tccd.edu/Future_Students/index.html") Future Students].  
                
                // Self-Doubt barrier        
                .checklist-itemWrap
                    .checklist-headingWrap
                        h3.checklist-heading Self-Doubt
                        .checklist-heading-iconWrap
                    .checklist-reasons
                        p No matter your age or your background, trying something new can be scary, but you’re not alone at TCC.
                        p You may not feel prepared for college-level studies, or you may not know what you want to pursue. You may be unsure about juggling school with work, family and bills. At TCC, we believe everyone is college material. That’s why we offer a wide variety of support services to help you find your path and then stay on course until you have reached your goal.
                        p For more information:
                            ul
                                li: a(href="") Success Coaches &amp;&nbsp;Academic Advisors
                                li: a(href="") Plus 50 Concierges
                                li Peer and Faculty Mentor programs, such as:
                                    ul
                                        li: a(href="") Empowering Links
                                        li: a(href="") Men of Color Mentoring
                                        li: a(href="") The Bridge
                                li: a(href="") Supplemental Instruction
                                li: a(href="") Learning Labs &amp;&nbsp;Tutoring (including 24/7 online tutoring)
