extends _layout

block head
    script.
        (function(w,d){
            if (d.getElementsByTagName) {
                var h = d.getElementsByTagName('html')[0];
                h.className = h.className.replace(/basic-page/, '');
            }
        })(window, document);

block content
    .pageWrap
        header.header.gradientTextureBg(role="header")
            .innerWrap(role="banner")
                h1#pageHeading.visuallyhidden Check Your List — Are You On It?
                img.header-banner(role="presentation" alt="" src="img/header.svg" aria-labelledby="pageHeading")

        main.main(role="main")
            .lede.innerWrap
                h2.lede-heading Congratulations!
                p Do you want a better job? A new career? A fresh start? To reconnect with a forgotten interest?
                p You’ve taken the important first step in finding your Success Within Reach: You’re here! All you have to do is #[a(href="http://www.tccd.edu/Admissions/Apply/index.html") apply].
                p So, what's stopping you?
            
            .checklistWrap
                .checklist.innerWrap
                    h2.checklist-tagline So, what's in your way?
                    
                    // Cost barrier
                    .checklist-itemWrap
                        h3.checklist-heading(role="button" aria-expanded="true")
                            .checklist-headingText Cost
                            .checklist-heading-iconWrap(role="presentation")
                                .checklist-heading-icon
                                    .checklist-icon-front
                                        .checklist-icon-front-inner
                                    .checklist-icon-back
                                        .checklist-icon-back-inner
                                        
                        .checklist-reasons.isClosed
                            p At TCC, you can get a quality education at an affordable cost.
                            p Our tuition is just $59 per semester hour—that’s only $885 for a 15-hour semester of #[a(href="http://www.tccd.edu/Courses_and_Programs/Program_Offerings/index.html") degree-track courses] taught by many of the same instructors who teach at area universities.
                            p If you need to jump into the workforce quickly, our wide variety of  #[a(href="http://www.tccd.edu/cie/workforce-training/index.html") Community &amp;&nbsp;Industry Education career and professional development programs] will provide a fast return on your education investment.
                            p   We also have financial assistance options. Learn more: #[a(href="http://www.tccd.edu/Student_Services/Financial_Aid/index.html") Financial Aid].
                    
                    // Time barrier
                    .checklist-itemWrap
                        h3.checklist-heading(role="button" aria-expanded="true")
                            .checklist-headingText Time
                            .checklist-heading-iconWrap(role="presentation")
                                .checklist-heading-icon
                                    .checklist-icon-front
                                        .checklist-icon-front-inner
                                    .checklist-icon-back
                                        .checklist-icon-back-inner
                                        
                        .checklist-reasons.isClosed
                            p Your life is busy, and your schedule is full, but at TCC, class is always in session!
                            p We offer online and on-campus classes during the day, at night and on the weekends. You can even complete your associate degree in 18 months or less by taking classes only on weekends if you are a full-time student in our #[a(href="http://www.tccd.edu/Courses_and_Programs/Weekend_College/index.html") Weekend College] on #[a(href="http://www.tccd.edu/Campuses_and_Centers/Trinity_River_Campus/index.html") Trinity River Campus]. You can also choose #[a(href="http://www.tccd.edu/eLearning/Online_Offerings/index.html") a fully online associate degree or certificate program].
                            p Learn more: #[a(href="http://www.tccd.edu/Campuses_and_Centers/TCC_Connect/index.html") TCC Connect Campus].
                    
                    // Location barrier
                    .checklist-itemWrap
                        h3.checklist-heading(role="button" aria-expanded="true")
                            .checklist-headingText Location
                            .checklist-heading-iconWrap(role="presentation")
                                .checklist-heading-icon
                                    .checklist-icon-front
                                        .checklist-icon-front-inner
                                    .checklist-icon-back
                                        .checklist-icon-back-inner
                                        
                        .checklist-reasons.isClosed
                            p Every year, we welcome students from nearly 140 North Texas zip codes.
                            p With #[a(href="http://www.tccd.edu/Campuses_and_Centers/index.html") 6 campuses and a variety of centers] throughout Fort Worth, Arlington, Hurst and online, TCC is easily accessible. Plus, you can get to many of our campuses via public transportation. If your family or work responsibilities would make attending class on campus difficult, you can choose from our wide range of #[a(href="http://www.tccd.edu/eLearning/Online_Offerings/index.html") online offerings].
                            p Learn more: #[a(href="http://www.tccd.edu/Future_Students/index.html") Future Students].  
                    
                    // Self-Doubt barrier        
                    .checklist-itemWrap
                        h3.checklist-heading(role="button" aria-expanded="true")
                            .checklist-headingText Self-Doubt
                            .checklist-heading-iconWrap(role="presentation")
                                .checklist-heading-icon
                                    .checklist-icon-front
                                        .checklist-icon-front-inner
                                    .checklist-icon-back
                                        .checklist-icon-back-inner
                                        
                        .checklist-reasons.isClosed
                            p No matter your age or your background, trying something new can be scary, but you’re not alone at TCC.
                            p You may not feel prepared for college-level studies, or you may not know what you want to pursue. You may be unsure about juggling school with work, family and bills. At TCC, we believe everyone is college material. That’s why we offer a wide variety of support services to help you find your path and then stay on course until you have reached your goal.
                            p For more information:
                                ul
                                    li: a(href="") Success Coaches &amp;&nbsp;Academic Advisors
                                    li: a(href="") Plus 50 Concierges
                                    li Peer and Faculty Mentor programs, such as:
                                        ul
                                            li: a(href="") Empowering Links
                                            li: a(href="") Men of Color Mentoring
                                            li: a(href="") The Bridge
                                    li: a(href="") Supplemental Instruction
                                    li: a(href="") Learning Labs &amp;&nbsp;Tutoring (including 24/7 online tutoring)
        .requestInfo
            .requestInfo-formWrap.innerWrap
                .requestInfo-headingWrap
                    h2.requestInfo-heading Request Information
                    p I'm ready to make myself a priority! Please send me information to help me get started.
                form.requestInfo-form(action="#" method="post")
                    .form-inputWrap
                        label.form-label(for="fullName") Full Name
                        input.form-input#fullName(type="text" name="fullName" placeholder="Jessica Jones" required)
                    
                    .form-inputWrap
                        label.form-label(for="email") Email
                        input.form-input#email(type="email" name="email" placeholder="jessica@aliasinvestigations.com" required)

                    input.button.button--submit#submit(type="submit" value="submit" name="submit")
                    
        
        footer.footer.gradientTextureBg(role="footer")
            .footer-footerWrap.innerWrap
                img.footer-logo(role="banner" alt="Tarrant County College—Success Within Reach" src="img/tcc-logo.svg")
                p.footer-requiredLinks #[a(href="/") Legal Notices] &middot; #[a(href="/") Report Fraud]
                
                p.footer-copyright &copy; Tarrant County College &mdash; All rights reserved
