extends _layout

block pageTitle
    title What's Stopping You?

block content
    .pageWrap
        header.header.gradientTextureBg(role="header")
            .innerWrap(role="banner")
                a(href="https://www.tccd.edu/" target="_blank")
                    img.header-banner-top(role="presentation" alt="" src="img/header-5-top.svg" aria-labelledby="collegeName")
                    p#collegeName.visuallyhidden Tarrant County College
                a(href="https://www.tccd.edu/outreach/success/")
                    img.header-banner-bottom(role="presentation" alt="" src="img/header-5-bottom.svg" aria-labelledby="pageHeading")
                    h1#pageHeading.visuallyhidden For Many, College Seems Out of Reach

        main.main(role="main")
            .lede.innerWrap
                h2.lede-heading Not anymore.
                //- h3.lede-heading You've taken the first step.
                p Whether you want a better job, a new career, a fresh start, or to reconnect with a forgotten interest, you've taken the important first step in finding your #[b Success Within Reach].

            .checklistWrap
                .checklist.innerWrap
                    h2.checklist-tagline Obstacles May Be Smaller#[br]Than They Appear
                    p.checklist-subhead (Choose one to see why!)

                    // Cost barrier
                    .checklist-itemWrap
                        h3: a.checklist-heading#checklist_cost(role="button" aria-expanded="true" href="#cost")
                            .checklist-headingText Cost
                            .checklist-heading-iconWrap(role="presentation")
                                .checklist-heading-icon
                                    .checklist-icon-front
                                        .checklist-icon-front-inner
                                    .checklist-icon-back
                                        .checklist-icon-back-inner

                        #cost.checklist-reasons.isClosed
                            p We offer an affordable #[strong quality education] and #[strong financial aid] options.
                            p Many of our courses are taught by the same instructors who teach at area universities.
                            p Need to get to work quickly? Our workforce programs are a fast return on your education money.


                    // Time barrier
                    .checklist-itemWrap
                        h3: a.checklist-heading#checklist_time(role="button" aria-expanded="true" href="#time")
                            .checklist-headingText Time
                            .checklist-heading-iconWrap(role="presentation")
                                .checklist-heading-icon
                                    .checklist-icon-front
                                        .checklist-icon-front-inner
                                    .checklist-icon-back
                                        .checklist-icon-back-inner

                        #time.checklist-reasons.isClosed
                            p Your life is busy, but class is always in session at TCC.
                            p We offer #[strong online] and #[strong on-campus classes] during the day, at night and on the weekends. With so many choices, you can fit TCC into your schedule.


                    // Location barrier
                    .checklist-itemWrap
                        h3: a.checklist-heading#checklist_location(role="button" aria-expanded="true" href="#location")
                            .checklist-headingText Location
                            .checklist-heading-iconWrap(role="presentation")
                                .checklist-heading-icon
                                    .checklist-icon-front
                                        .checklist-icon-front-inner
                                    .checklist-icon-back
                                        .checklist-icon-back-inner

                        #location.checklist-reasons.isClosed
                            p We’re in your neighborhood.
                            p Our #[strong 6 campuses] and #[strong multiple centers] are located throughout Tarrant County in Fort Worth, Arlington and Hurst.
                            p Still cannot get to campus? Choose from our #[strong online] offerings and study anywhere, anytime.


                    // Self-Doubt barrier
                    .checklist-itemWrap
                        h3: a.checklist-heading#checklist_self_doubt(role="button" aria-expanded="true" href="#doubt")
                            .checklist-headingText Self-Doubt
                            .checklist-heading-iconWrap(role="presentation")
                                .checklist-heading-icon
                                    .checklist-icon-front
                                        .checklist-icon-front-inner
                                    .checklist-icon-back
                                        .checklist-icon-back-inner

                        #doubt.checklist-reasons.isClosed
                            p Feel unprepared? Unsure of what to study? Worried about juggling school with work, family and bills?
                            p Trying something new can be scary—no matter your age or your background—but #[strong you’re not alone] at TCC. Our support services can help you every step of the way.

        
        .requestInfo
            .requestInfo-formWrap.innerWrap
                form#successInfoForm.requestInfo-form(action="http://apps.tccd.edu/RequestInfo/Handler.ashx" method="post")
                    .form-inputWrap
                        label.form-label(for="name") Full Name
                        input.form-input#name(type="text" name="name" placeholder="Jessica Jones" required value="")

                    .form-inputWrap
                        label.form-label(for="email") Email
                        input.form-input#email(type="email" name="email" placeholder="jessica@example.com" required value="")

                    .form-inputWrap
                        input.button.button--submit#submit(type="submit" value="Submit" name="submit")

                    input(type="hidden" name="token" value="microsite")
                    input(type="hidden" name="source" value="Checklist Marketing Campaign")

                .requestInfo-formResponse

                .requestInfo-headingWrap
                    h3.requestInfo-phoneHeader If you have questions call:
                    p.requestInfo-phoneNumber 817-515-8223
                    p.requestInfo-applyLink To apply, visit #[a(href="https://tccd.edu/") tccd.edu]
        
        .successStoriesWrap.gradientTextureBg
            .successStories.innerWrap
                h2.successStories-tagline So, What's Stopping You?
                p.successStories-subhead A high school graduate studying dance, a U.S. Army veteran training to become a fireman, and a mother of three learning culinary arts explain why they chose TCC.
                
                ul.successStories-list
                    li.successStory
                        a.successStory-link(href="jose.html")
                            img.successStory-image(src="img/Jose-small.jpg", alt="Jose, a high school graduate learning dance")
                            p.successStory-text View#[br]#[strong Jose’s Success Story]
                    li.successStory
                        a.successStory-link(href="brandon.html")
                            img.successStory-image(src="img/Brandon-small.jpg", alt="Brandon, and army veteran studying to be a firefighter")
                            p.successStory-text View#[br]#[strong Brandon’s Success Story]
                    li.successStory
                        a.successStory-link(href="sara.html")
                            img.successStory-image(src="img/Sara-small.jpg", alt="Sara, a mother learning the culinary arts")
                            p.successStory-text View#[br]#[strong Sara’s Success Story]

        
        

        include jade-partials/_footer.jade

    script.
        (function(w,d){
            function ieVersion() {
                var ua = window.navigator.userAgent;
                if (ua.indexOf('Trident/7.0') > 0) {
                    return 11;
                }
                else if (ua.indexOf('Trident/6.0') > 0) {
                    return 10;
                }
                else if (ua.indexOf('Trident/5.0') > 0) {
                    return 9;
                }
                else {
                    return 0;  // not IE9, 10 or 11
                }
            }
            var element = d.createElement('p');
            element.id = 'delete-me';
            if (! (w.getComputedStyle && d.getElementsByTagName && element.classList)) {
                console.log('Basic page support only');
                return;
            }
            var html = d.getElementsByTagName('html')[0],
            body = d.getElementsByTagName('body')[0],
            properties = {
                'webkitTransformStyle':'-webkit-transform-style',
                'MozTransformStyle':'-moz-transform-style',
                'msTransformStyle':'-ms-transform-style',
                'transformStyle':'transform-style'
            };

            body.insertBefore(element, null);

            for (var i in properties) {
                if (element.style[i] !== undefined) {
                    element.style[i] = 'preserve-3d';
                }
            }

            var st = w.getComputedStyle(element, null),
                transform = st.getPropertyValue("-webkit-transform-style") || st.getPropertyValue("-moz-transform-style") || st.getPropertyValue("-ms-transform-style") || st.getPropertyValue("transform-style");

            console.log('transform: ' + transform);
            if (transform === 'preserve-3d' && ieVersion() === 0) {
                html.classList.remove('basic-page');
            }
            body.removeChild(element);
        })(window, document);
