@import '_partials/variables';
@import '_partials/mixins';

// Universal reset
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;

    @media (min-width: 600px) {
        font-size: 125%;
    }
}

body {
    @include gotham();
    background-color: $white;
    color: $blue;
}

.gradientTextureBg {
    background: url('../img/texture.png'), radial-gradient($gradient-start 40%, $gradient-stop);
    background-color: $blue;
}

.innerWrap {
    margin: 0 auto;
    max-width: $max-width;
    padding: 20px 24px;
}

.header {
    border-top: 6px solid $green;
    text-align: center;
}

.header-banner {
    filter: drop-shadow(4px 4px 5px transparentize($black, 0.8));
    margin-top: 14px;
}

.lede,
.checklist-tagline,
.requestInfo-headingWrap {
    margin-bottom: 2rem;
    margin-top: 1rem;
    text-align: center;

}

.footer {
    @include gotham($size: 8px);

    color: $white;
    text-align: center;

    a {
        color: inherit;
        text-decoration: none;
    }
}

.footer-logo {
    display: block;
    margin: 0 auto 20px;
    max-width: 200px;
}

h2 {
    @include gotham(1.375rem, 800);

    margin-bottom: 10px;
}

a {
    @include gotham(inherit, 700);
    $lightblue: lighten($blue, 10%);
    color: $lightblue;
    text-decoration: underline;
}

.checklist-tagline {
    margin-bottom: 2rem;
}

.checklistWrap {
    background-color: $gray;
    margin: 20px 0;
    position: relative;

    &::before,
    &::after {
        background: url('../img/jagged-border.svg') repeat-x top left / 40px 40px;
        content: '';
        display: block;
        height: 40px;
        position: absolute;
        width: 100%;
    }

    &::before { top: -20px; }
    &::after { bottom: -20px; }
}

.checklist-itemWrap {
    margin: 0 auto 7px;
    max-width: 550px;
}

.checklist-heading {
    @include gotham(1.75rem, 700);

    background: linear-gradient(to top, $gradient-bottom, $gradient-top);
    border-radius: $border-radius;
    color: $white;
    display: block;
    filter: drop-shadow(2px 2px 1px transparentize($black, 0.8));
    line-height: 1;
    margin: 0 0 7px;
    padding: 0.875rem calc(2.1rem) 0.875rem 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 1px transparentize($black, 0.8);
    width: 100%;

    &:hover,
    &:focus,
    &:active {
        background: linear-gradient(to top, lighten($gradient-bottom, 10%), lighten($gradient-top, 10%));
        outline: none;
        text-decoration: none;
    }

    &.solved {
        text-decoration: line-through;

        &::before {
            background: $green;
            border-radius: $border-radius 0 0 $border-radius;
            content: '';
            display: block;
            height: 3.75rem;
            left: -6px;
            position: absolute;
            top: -0.125rem;
            width: 12px;
            z-index: 3;
        }

        .basic-page & {
            text-decoration: none;
        }
    }
}

.checklist-heading-iconWrap {
    display: block;
    height: 3.5rem;
    perspective: 1000;
    position: absolute;
    right: -20px;
    top: 0;
    width: 4.2rem;
}

.checklist-heading-icon {
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: 0.5s;
    width: 100%;
}

.checklist-icon-front {
    backface-visibility: hidden;
    background: url('../img/hexagon-teal.svg') no-repeat center center / cover;
    display: block;
    height: 100%;
    position: absolute;
    transform: rotateY(0deg);
    width: 100%;
    z-index: 2;
}

.checklist-icon-front-inner {
    background: url('../img/question-mark.svg') no-repeat center center / auto 66%;
    display: block;
    filter: drop-shadow(2px 2px 1px transparentize($black, 0.8));
    height: 100%;
    width: 100%;
}

.checklist-icon-back {
    backface-visibility: hidden;
    background: url('../img/hexagon-green.svg') no-repeat center center / cover;
    display: block;
    height: 100%;
    position: absolute;
    transform: rotateX(180deg);
    width: 100%;

    .basic-page & {
        display: none;
    }
}

.checklist-icon-back-inner {
    background: url('../img/thumbs-up.svg') no-repeat center center / auto 66%;
    display: block;
    filter: drop-shadow(2px 2px 1px transparentize($black, 0.8));
    height: 100%;
    width: 100%;
}


.checklist-reasons {
    background: $white;
    border-radius: 0 0 $border-radius $border-radius;
    box-shadow: 2px 2px 2px transparentize($black, 0.8);
    line-height: 1.33;
    margin: -7px 10px 10px;
    padding: 15px 10px;
    text-align: left;

    p {
        margin-bottom: 1rem;
    }

    ul,
    ol {
        margin-bottom: 1rem;
        padding-left: 3rem;
    }
}

.isClosed {
    display: none;
    height: 0;

    //If features aren't available, make sure content is shown
    .basic-page & {
        display: block;
        height: auto;
    }
}

//Request Info Form styling
.requestInfo-form {
    margin: 0 auto;
    max-width: 400px;
    padding-left: 20px;
}

.form-inputWrap {
    margin: 1rem 0;

    &:before,
    &:after {
        content: '';
        display: table;
    }

    &:after { clear: both; }

    label {
        @include gotham(0.8125rem, 400);
        display: block;
        margin-bottom: 3px;
    }

    [type='text'],
    [type='email'] {
        @include gotham(0.8125rem, 400, italic);
        -webkit-appearance: none;
        background: $white;
        border: 1px solid $blue;
        border-radius: $border-radius;
        display: block;
        padding: 5px 4px 4px;
        width: 100%;
    }
}

.button {
    @include gotham(1.125rem, 800);

    -webkit-appearance: none;
    background: $blue;
    border: none;
    border-radius: $border-radius;
    color: $white;
    padding: 5px 8px 3px;
}

.button--submit {
    display: block;
    float: right;
}

.requestInfo-phoneNumber {
    @include gotham(1.125rem, 700);
    color: $green;
}

.requestInfo-formResponse {
    display: none;

    .response--error,
    .response--success {
        @include gotham(0.825rem, 400);

        border-radius: $border-radius;
        box-shadow: 2px 2px 2px transparentize($black, 0.8);
        padding: 10px 20px;
    }

    .response--error {
        background: $red;
        border: 1px solid darken($red, 10%);
        color: $white;
    }

    .response--success {
        background: lighten($green, 20%);
        border: 1px solid $green;
    }
}
