@import '_partials/variables';
@import '_partials/mixins';

// Universal reset
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    @include gotham();
    color: $blue;
    background-color: $white;
}

.gradientTextureBg {
    background: url(../img/texture.png), radial-gradient($gradient-start 40%, $gradient-stop);
    background-color: $blue;
}

.innerWrap {
    max-width: $max-width;
    margin: 0 auto;
    padding: 20px 24px;
}

.header {
    border-top: 6px solid $green;
    text-align: center;
}

.lede,
.checklist-tagline,
.requestInfo-headingWrap {
    text-align: center;
}

.footer {
    color: $white;
    text-align: center;

    @include gotham($size: 8px);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer-logo {
    display: block;
    max-width: 200px;
    margin: 0 auto 20px;
}

h2 {
    margin-bottom: 10px;
    @include gotham(1.375rem, 800);
}

a {
    color: inherit;
    text-decoration: none;

    @include gotham(inherit, 700);

    &:hover,
    &:focus,
    &:active {
        text-decoration: underline;
    }
}
