@import '_partials/variables';
@import '_partials/mixins';

// Universal reset
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    @include gotham();
    background-color: $white;
    color: $blue;
}

.gradientTextureBg {
    background: url('../img/texture.png'), radial-gradient($gradient-start 40%, $gradient-stop);
    background-color: $blue;
}

.innerWrap {
    margin: 0 auto;
    max-width: $max-width;
    padding: 20px 24px;
}

.header {
    border-top: 6px solid $green;
    text-align: center;
}

.lede,
.checklist-tagline,
.requestInfo-headingWrap {
    text-align: center;
}

.footer {
    @include gotham($size: 8px);

    color: $white;
    text-align: center;

    a {
        color: inherit;
        text-decoration: none;
    }
}

.footer-logo {
    display: block;
    margin: 0 auto 20px;
    max-width: 200px;
}

h2 {
    @include gotham(1.375rem, 800);

    margin-bottom: 10px;
}

a {
    @include gotham(inherit, 700);

    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        text-decoration: underline;
    }
}

.checklistWrap {
    background-color: $gray;
    margin: 20px 0;
    position: relative;

    &:before,
    &:after {
        background: url('../img/jagged-border.svg') repeat-x top left/40px 40px;
        content: '';
        display: block;
        height: 40px;
        position: absolute;
        width: 100%;
    }

    &:before { top: -20px; }
    &:after { bottom: -20px; }
}

.checklist-headingWrap {
    
}
